---
layout: default
title: "Blogg"
---



<div class="w-full max-w-2xl mx-auto my-4">
    <div class="mx-4">
        <div class="bg-blue-700 text-white p-2">
            <h1 class="text-4xl">Blogg</h1>
            <div class="mt-2">Antal inlägg: {{ site.posts | size }}</div>
        </div>

        {% for post in site.posts %}
            <a href="{{post.url}}" class="block bg-white hover:bg-gray-200 text-blue-700 p-2 my-4 text-xl shadow-md rounded-md">
                {{post.title}}
                {% include post_description.html %}
            </a>
            
        {% endfor %}
    </div>
</div>