---
---

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


@layer components {
    
    .category-title {
        @apply text-sm border-b-2 font-bold border-yellow-500 bg-blue-800 text-blue-50 px-2 py-1;
    }

    .category-square {
        @apply inline-block align-top mt-1.5 w-2 h-2 bg-yellow-500;
    }

    .category-list {
        @apply list-disc list-inside truncate py-2 pb-6;
    }

    .category-items {
        @apply inline-block my-1 md:my-0 text-base md:text-sm ml-2 hover:text-yellow-500;
    }

    .category-items-bullet {
        @apply text-blue-700;
    }
    
    .dot {
        @apply inline-block cursor-pointer w-8 h-8 mx-2 mb-2 md:mx-1 md:w-4 md:h-4 align-middle border border-white rounded-full bg-transparent;
    }

    .active {
        @apply bg-white;
    }

    .slide-arrows {
        @apply 
            inline-block
            absolute
            px-2
            top-0
            select-none
            cursor-pointer
            text-xl
            h-full
            text-white
            bg-blue-900 bg-opacity-60
            hover:bg-white
            hover:text-blue-700
            hover:bg-opacity-100
            md:bg-opacity-0
            md:px-4
            rounded-sm
            shadow-sm
            transition-colors duration-300 ease-in-out
        ;
    }

    /* Fading animation for slideshow*/
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    }

    @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    }

    .paginate-button-disabled {
        @apply p-2 bg-gray-600 text-gray-100 rounded-sm;
    }

    .paginate-button-enabled {
        @apply p-2 bg-blue-700 hover:bg-blue-800 text-white rounded-sm;
    }

    /* Blog */
    article {
        p {
            @apply mb-4 text-gray-800;
        }

        h1 {
            @apply text-2xl mb-1 mt-1 text-blue-900;
        }

        h2 {
            @apply text-xl mb-2 text-blue-800;
        }

        img {
            @apply inline-block h-full max-h-96 w-auto md:w-5/12 my-3;
        }

        a img {
            @apply w-full;
        }
    }

    /* Switch */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }
      
      .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        @apply shadow-lg;
      }
      
      input:checked + .slider {
        background-color: #2196F3;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
}