<!DOCTYPE html>
<html lang="{{ site.lang | default: "SV" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="version" content="{{site.time}}">
    <meta name="description" content="Blogg om segling som utgår från Råå i Helsingborg">
    <title>{{ page.title }} - {{ site.title }}</title>

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#1d4ed8">
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    
    <!-- stylesheet -->
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link href="/assets/icons/fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet"> <!--load all styles -->

  </head>
  <body class="bg-gray-300" 
  {% if site.enable_cookies == true %}
    onload="cookieBanner()"
  {% endif %}
  >
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
    <button id="scroll_arrow" class="fixed bottom-4 right-4 px-3 py-2 rounded-full shadow-lg bg-white" onclick="scrollToTop()">
      <i class="fas fa-arrow-up text-3xl text-blue-700"></i>
    </button>
    {% include cookies.html %}

    <script async src="/assets/js/script.js"></script>
  </body>
</html>
