<!DOCTYPE html>
<html lang="{{ site.lang | default: "SV" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="version" content="{{site.time}}">
    <title>{{ page.title }} - {{ site.title }}</title>
    
    <!-- stylesheet -->
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link href="/assets/icons/fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet"> <!--load all styles -->

  </head>
  <body class="bg-gray-300">
    {% include header.html %}
    {{ content }}
    {% include footer.html %}

    <script async src="/assets/js/script.js"></script>
  </body>
</html>
