<!DOCTYPE html>
<html lang="{{ site.lang | default: "swe-SE" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    
    <!-- stylesheet -->
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

  </head>
  <body>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}

    <script async src="/assets/js/script.js"></script>
  </body>
</html>
